// prespojeno sa sanitize.scss

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border: 0;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;

    min-height: 100vh;
    display: grid;
    place-items: center;
}