.section {
    width: 375px;
    margin: 0 auto;
    padding: 28px 24px 31px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 52px 88px 420px;

    grid-gap: 24px;

    .header {
        height: 44px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 32px;
            font-weight: $fontWeight;
            line-height: 36px;
            letter-spacing: -0.53px;
        }

        .theme {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            h2 {
                font-size: 12px;
                line-height: 13px;
                font-weight: $fontWeight;
                letter-spacing: 1px;

                align-self: flex-end;
                text-transform: uppercase;
                margin-right: 21px;
                margin-bottom: 6.5px;
            }

            &__selector {
                width: 71px;
            }

            &__number {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                
                p {
                    font-size: 12px;
                    line-height: 13px;
                    font-weight: $fontWeight;
                    margin-bottom: 5px;
                }
            }

            &__slider {
                height: 26px;
                border-radius: 13px;

                position: relative;

                .circle {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 16px;
                    height: 16px;

                    border-radius: 50%;
                }
            }
        }
    }

    .display {
        display: grid;
        place-items: center end;

        border-radius: 10px;
        overflow: hidden;
        overflow-wrap: break-word;

        p {
            padding: 0 24px;
        }
    }

    .keypad {
        border-radius: 10px;
        padding: 24px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 13px;
    }

}