.section {
    width: 327px;
    margin: 0 auto;
    //padding: 28px 24px 31px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 52px 88px 420px;

    grid-gap: 24px;

    @include media(laptop) {
        width: 540px;

        grid-template-rows: 52px 128px 480px;
    }

    .header {
        height: 44px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 32px;
            font-weight: $fontWeight;
            line-height: 36px;
            letter-spacing: -0.53px;
        }

        .theme {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            h2 {
                font-size: 12px;
                line-height: 13px;
                font-weight: $fontWeight;
                letter-spacing: 1px;

                align-self: flex-end;
                text-transform: uppercase;
                margin-right: 21px;
                margin-bottom: 6.5px;
            }

            &__selector {
                width: 71px;
            }

            &__number {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;

                p {
                    font-size: 12px;
                    line-height: 13px;
                    font-weight: $fontWeight;
                    margin-bottom: 5px;
                }
            }

            &__slider {
                height: 26px;
                border-radius: 13px;

                position: relative;

                .circle {
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 16px;
                    height: 16px;

                    border-radius: 50%;
                    cursor: pointer;

                    transition: all 0.2s;

                }
            }
        }
    }

    .display {
        border-radius: 10px;

        display: grid;
        align-content: center;

        padding: 0 24px;
        
        p {
            font-size: 32px;
            letter-spacing: -0.5px;
            //overflow-x: hidden;
            word-wrap: break-word;
            word-break: break-all;
        }

        @include media(laptop) {
            padding: 0 32px;

            p {
                font-size: 48px;
                letter-spacing: -0.8px;
            }
        }
    }

    .keypad {
        border-radius: 10px;
        padding: 24px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 13px;

        @include media(laptop) {
            padding: 32px 30px;
            grid-gap: 25px;
        }

        .btn {
            font-size: 28px;
            font-weight: $fontWeight;
            line-height: 31px;

            border-radius: 5px;

            transition: $transition;

            &--text,
            &--equal {
                font-size: 16px;
                line-height: 18px;
                letter-spacing: -0.27px;

                text-transform: uppercase;
            }

            &--reset {
                grid-row: 5 / 6;
                grid-column: 1 / span 2;
            }

            &--equal {
                grid-row: 5 / 6;
                grid-column: 3 / span 2;
            }

            @include media(laptop) {
                font-size: 32px;
                cursor: pointer;

                &--text,
                &--equal {
                    font-size: 20px;
                    line-height: 22px;
                    letter-spacing: -0.33px;

                    text-transform: uppercase;
                }
            }
        }
    }
}
