body.dark {
    background-color: $colorBackgroundMainTheme1;

    .section {
        .header {
            color: $colorTextLightTheme1;

            .theme__slider {
                background-color: $colorBackgroundKeypadTheme1;

                .circle {
                    background-color: $colorKeyToggleBackgroundTheme1;

                    &:hover {
                        background-color: $colorKeyBackgroundTertiaryHoverTheme1;
                    }
                }
            }
        }

        .display {
            background-color: $colorBackgroundScreenTheme1;
            color: $colorTextLightTheme1;
        }

        .keypad {
            background-color: $colorBackgroundKeypadTheme1;

            .btn {
                color: $colorTextDarkTheme1;
                background-color: $colorKeySecondBacgroundTheme1;
                box-shadow: inset 0px -4px $colorKeySecondShadowTheme1;

                &:hover {
                    background-color: $colorKeyMainBacgroundHoverTheme1;
                }

                &--text {
                    color: $colorTextLightTheme1;
                    background-color: $colorKeyMainBacgroundTheme1;
                    box-shadow: inset 0px -4px $colorKeyMainShadowTheme1;

                    &:hover {
                        background-color: $colorKeyBackgroundSecondaryHoverTheme1;
                    }
                }

                &--equal {
                    color: $colorTextLightTheme1;
                    background-color: $colorKeyToggleBackgroundTheme1;
                    box-shadow: inset 0px -4px $colorKeyShadowTheme1;

                    &:hover {
                        background-color: $colorKeyBackgroundTertiaryHoverTheme1;
                    }
                }
            }
        }
    }
}

body.light {
    background-color: $colorBackgroundMainTheme2;

    .section {
        .header {
            color: $colorTextLightTheme2;

            .theme__slider {
                background-color: $colorBackgroundKeypadTheme2;

                .circle {
                    background-color: $colorKeyToggleBackgroundTheme2;

                    left: 26px;

                    &:hover {
                        background-color: $colorKeyBackgroundTertiaryHoverTheme2;
                    }
                }
            }
        }

        .display {
            background-color: $colorBackgroundScreenTheme2;
            color: $colorTextLightTheme2;
        }

        .keypad {
            background-color: $colorBackgroundKeypadTheme2;

            .btn {
                color: $colorTextLightTheme2;
                background-color: $colorKeySecondBacgroundTheme2;
                box-shadow: inset 0px -4px $colorKeySecondShadowTheme2;

                &:hover {
                    background-color: $colorKeyMainBacgroundHoverTheme2;
                }

                &--text {
                    color: $colorTextDarkTheme2;
                    background-color: $colorKeyMainBacgroundTheme2;
                    box-shadow: inset 0px -4px $colorKeyMainShadowTheme2;

                    &:hover {
                        background-color: $colorKeyBackgroundSecondaryHoverTheme2;
                    }
                }

                &--equal {
                    color: $colorTextDarkTheme2;
                    background-color: $colorKeyToggleBackgroundTheme2;
                    box-shadow: inset 0px -4px $colorKeyShadowTheme2;

                    &:hover {
                        background-color: $colorKeyBackgroundTertiaryHoverTheme2;
                    }
                }
            }
        }
    }
}

body.custom {
    background-color: $colorBackgroundMainTheme3;

    .section {
        .header {
            color: $colorTextLightTheme3;

            .theme__slider {
                background-color: $colorBackgroundScreenTheme3;

                .circle {
                    background-color: $colorKeyToggleBackgroundTheme3;
                    left: unset;
                    right: 5px;

                    &:hover {
                        background-color: $colorKeyBackgroundTertiaryHoverTheme3;
                    }
                }
            }
        }
        .display {
            background-color: $colorBackgroundScreenTheme3;
            color: $colorTextLightTheme3;
        }

        .keypad {
            background-color: $colorBackgroundScreenTheme3;

            .btn {
                color: $colorTextLightTheme3;
                background-color: $colorKeySecondBacgroundTheme3;
                box-shadow: inset 0px -4px $colorKeySecondShadowTheme3;

                &:hover {
                    background-color: $colorKeyMainBackgroundHoverTheme3;
                }
                &--text {
                    color: $colorTextMedTheme3;
                    background-color: $colorKeyMainBacgroundTheme3;
                    box-shadow: inset 0px -4px $colorKeyMainShadowTheme3;

                    &:hover {
                        background-color: $colorKeyBackgroundSecondaryHoverTheme3;
                    }
                }

                &--equal {
                    color: $colorTextDarkTheme3;
                    background-color: $colorKeyToggleBackgroundTheme3;
                    box-shadow: inset 0px -4px $colorKeyShadowTheme3;

                    &:hover {
                        background-color: $colorKeyBackgroundTertiaryHoverTheme3;
                    }
                }
            }
        }
    }
}
